# This is a basic workflow to help you get started with Actions

name: REACT

#Controls when the action will run. 
on:
  # Triggers the workflow on push or pull requestevents but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

 # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that canrun sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job cn access it
      - uses: actions/checkout@v2
      - name: Install NodeJS
        uses: actions/setup-node@v2-beta
        with:
         node-version: 12
         
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install # will run `yarn install` command
          
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build # will run `yarn build` command
        
      - name: Install Surge
        run: npm install --global surge
      
      
      - name: Deploy to Surge
        run: surge ./build http://venomous15056.surge.sh --token ${{secrets.H2H_123}}

    
